@model Seif.Models.SeifData.CatalogItem
@{
    ViewBag.Title = "CatItemDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <h2>@Model.Title</h2>
        @if (Model.Image == null)
        {
            <p>No image</p>
        }
        else
        {
            <img src="@Url.Content(Model.Image)" alt="" class="catImg" />
        }
    </div>
    <div class="col-md-9">
        <div class="editForm">
            @using (Html.BeginForm("UpdateCatItem","Admin",FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(item => item.Id)
                @Html.Label("Наименование")<br/>
                @Html.TextBoxFor(item => item.Title)<br/>
                @Html.Label("Описание для поиска")<br/>
                @Html.TextAreaFor(item => item.Descroption)<br/>
                <input type="file" name="avatar"/>
                @Html.Label("Описание")<br/>
                @Html.TextBoxFor(item => item.HtmlDescr, new {@class = "editorTiny"})<br/>
                <input type="submit" value="save"/>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("AddProduct","Admin",new {wow=Model.Id})">Add Product</a>
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <td>ID</td>
                <td>Title</td>
                <td>Price</td>
                <td>Edit</td>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.Price.ToString("C")</td>
                    <td>
                        <a href="@Url.Action("ProductDetails", "Admin", new {id = item.Id})">edit</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
