@model Seif.ViewModels.ProductVm
@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row productAd">
    <div class="col-md-3">
        <h2>@Model.Product.Title</h2>
        @if (Model.Avatar != null)
        {
            <img src="@Url.Content(Model.Avatar.Path)" alt="" class="catImg"/>
        }
        else
        {
            <p>No Images</p>
        }
    </div>
    <div class="col-md-9">
        <div class="editForm">
            @using (Html.BeginForm("UpdateProduct", "Admin", FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(item => item.Product.Id)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                @Html.Label("Артикул")<br/>
                @Html.TextBoxFor(item => item.Product.Articul)<br/>
                @Html.Label("Наименование")<br/>
                @Html.TextBoxFor(item => item.Product.Title)<br/>
                @Html.Label("Цена")<br/>
                @Html.TextBoxFor(item => item.Product.Price)<br/>
                @Html.Label("Описание для поиска")<br/>
                @Html.TextAreaFor(item => item.Product.Descroption)<br/>
                @Html.Label("Описание")<br/>
                @Html.TextBoxFor(item => item.Product.HtmlDescr, new {@class = "editorTiny"})<br/>
                <div class="dem">
                    <div class="demItem">
                        @Html.Label("Ширина")<br/>
                        @Html.TextBoxFor(vm => vm.Product.Width, new {type = "number", min = "1", tabindex = "1"})
                    </div>
                    <div class="demItem">
                        @Html.Label("Высота")<br/>
                        @Html.TextBoxFor(vm => vm.Product.Height, new {type = "number", min = "1", tabindex = "2"})
                    </div>
                    <div class="demItem">
                        @Html.Label("Глабина")<br/>
                        @Html.TextBoxFor(vm => vm.Product.Depht, new {type = "number", min = "1", tabindex = "3"})
                    </div>
                    <div class="demItem">
                        @Html.Label("Вес")<br/>
                        @Html.TextBoxFor(vm => vm.Product.Weight, new {tabindex = "4"})
                    </div>
                </div>
                <input type="file" name="avatar"/>
                <input type="submit" value="save"/>
            }
        </div>
    </div>
    <div class="col-md-12 photoBlock">
        @foreach (var item in Model.Photos)
        {
            <div class="photoItem">
                <img src="@item.Path" alt=""/>
                <a>remove</a>
            </div>
        }
        <div class="photoItem">
            @using (Html.BeginForm("AddPhoto","Admin",FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("pId",Model.Product.Id)
                <input type="file" name="photo" multiple="multiple"/>
                <input type="submit" value="add"/>
            }
        </div>
    </div>
</div>
<a href="@Url.Action("CatItemDetails","Admin",new {id=Model.Product.CatalogItem.Id})">back</a>