@using Seif.Models.SeifData
@model Seif.ViewModels.ProductView
@{
    ViewBag.Title = "Оружейные сейфы от производителя в Ставрополе.";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.descr = "Оптовые поставки оружейных сейфов, металлической мебели для производства и офисов, стелажи. В наличии и под заказ в г. Ставрополе. Доставка в регионы.";
}
@section scripts
{
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=FSqZ8kgjYaivhzQQg8Lvdkrihp7C0ayQ&width=100%&height=600&lang=ru_RU&sourceType=constructor&scroll=true&id=map"></script>
}
<div class="baner">
    <div class="banerContent">
        <h1>Оружейные сейфы</h1>
        <p>Предлагаем сейфы для хранения огнестрельного и
            холодного оружия, патронов.</p>
        <p>Продукция Российского производства в Ставрополе.</p>
    </div>
    <img src="~/Content/img/top.png" alt=""/>
</div>
<div class="blockTitle">
    <h1>храните оружие правильно</h1>
</div>
<div class="witchCase">
    <ul>
        <li><a href="@Url.Action("GunCase","Home", new {i=1})">Оружейные сейфы</a></li>
        <li><a href="@Url.Action("GunCase","Home", new {i=23})">Пистолетные сейфы</a></li>
    </ul>
</div>
<div class="goodsGuns">
    @foreach (var item in Model.Products.Where(product => product.CatalogItem.Id == ViewBag.tp).OrderBy(product => product.Price))
    {
        <div class="gunItem" id="@item.Id">
            @{ var ava = item.Images.FirstOrDefault(image => image.PhotoType == PhotoType.Avatar);}

            <img src="@Url.Content(ava!=null? ava.Path:"/Content/img/noimage.png")" alt="@item.Articul"/>
            <ul class="callToAction">
                @if (item.Hit)
                {
                    <li>ХИТ</li>
                }
                @if (item.Discount > 0)
                {
                    <li>-@item.Discount%</li>
                }
            </ul>
            <div class="gunItemDescr">
                <h1>@item.Articul</h1>
                <p>@item.Descroption</p>
                <table>
                    <thead>
                    <tr>
                        <td>ширина</td>
                        <td>высота</td>
                        <td>глабина</td>
                        <td>вес</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>@item.Width mm</td>
                        <td>@item.Height mm</td>
                        <td>@item.Depht mm</td>
                        <td>@item.Weight кг</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="bottomBlock">
                @if (Model.Cart.CartItems.Any(cartItem => cartItem.Product.Id == item.Id))
                {
                    var i = Model.Cart.CartItems.FirstOrDefault(cartItem => cartItem.Product.Id == item.Id);
                    <a href="@Url.Action("Add", "Cart", new {pId = item.Id, returnUrl = Request.Url.PathAndQuery+"#"+item.Id})">В корзине @i.Quantity шт. на сумму @i.SubTotal.ToString("C") </a>
                }
                else
                {
                    <a href="@Url.Action("Add", "Cart", new {pId = item.Id, returnUrl = Request.Url.PathAndQuery+"#"+item.Id})">Купить за @item.Price.ToString("C")</a>
                }
                <a href="@Url.Action("Product", "Catalog", new {id = item.Id, returnUrl = Request.Url.PathAndQuery})"><span>ПОДРОБНЕЕ</span></a>
            </div>
        </div>
    }
</div>
<div class="recl">
    <h1>это важно знать</h1>
    <div class="myGun">
        <div class="mustKnew">
            <h3>о хранении <br/> оружия
            </h3>
            <p>Статья 59. Принадлежащие гражданам Российской Федерации оружие и патроны должны храниться по месту их проживания с соблюдением условий, обеспечивающих их сохранность, безопасность хранения и исключающих доступ к ним посторонних лиц, в запирающихся на замок сейфах или металлических шкафах, ящиках из высокопрочных материалов либо в деревянных ящиках, обитых железом. Органы внутренних дел по месту жительства владельцев имеют право проверять условия хранения зарегистрированного ими оружия.</p>
            <p>Согласно документу, небрежное хранение огнестрельного оружия, создавшее условия для его использования другим лицом:</p>
            <ul>
                <li>если это повлекло смерть человека или иные тяжкие последствия, будет наказываться штрафом в размере до 100 тыс. руб., либо обязательными работами на срок до 360 часов, либо исправительными работами на срок до одного года, либо ограничением свободы на срок до одного года, либо арестом на срок до шести месяцев.</li>
                <li>если это привело к гибели двух и более человек, это будет караться обязательными работами на срок до 480 часов, либо исправительными работами на срок до двух лет, либо лишением свободы на срок до двух лет.</li>

            </ul>
        </div>
        <div class="mustKnew">
            <h3>персональная <br/> ответственность
            </h3>
            <p>В период охотничьего сезона учащаются случаи утраты или неправильного применения охотничьего оружия.</p>
            <ul>
                <li>Зачастую кражи происходят из-за того, что граждане хранят свое охотничье оружие с нарушением установленных правил. К ответственности за хищение, утрату своего оружия владелец привлекается по ст. 224 УК РФ.</li>
                <li>В случае незаконного применения огнестрельного оружия и использования его в не отведённом для этого месте с нарушением установленных правил владелец оружия привлекается по ст. 20.13 КоАП РФ.</li>
                <li>Если владелец оружия привлекался по ст. 8.37 КоАП РФ и его лишили права осуществлять охоту, то аннулируется разрешение на хранение и ношение огнестрельного оружия, и выдается разрешение на хранение без права ношения.</li>
            </ul>
            <p><strong>Штраф за небрежное хранение оружия</strong>
            </p>
            <p>Нарушение статьи 224 УК РФ Небрежное хранение огнестрельного оружия наказывается штрафом в размере до 40000 рублей или в размере заработной платы, или иного дохода осуждённого за период до 3 месяцев, либо обязательными работами на срок до 360 часов, либо исправительными работами на срок до 1 года, либо ограничением свободы на срок до 1 года, либо арестом на срок до 6 месяцев.</p>
        </div>
    </div>
</div>
<div class="contactsIndex">
    <div id="map"></div>
    <div class="mapDescr">
        <h1>Главный офис компании</h1>
        <h3>г. Ставрополь, ул. Льва Толстого 53</h3>
        <address>
            <p>+7 (8652) 99-19-13</p>
            <p>+7 (928) 373-16-13</p>
            <p>+7 (8652) 99-05-82</p>
            <p><a href="mailto:admin@id-racks.ru">Написать письмо</a></p>
        </address>
    </div>
</div>